*{
    margin: 0;
    padding: 0;
}
header{
    background: rgb(0, 0, 0);
    color: white;
    text-shadow: 3px 3px 3px 5px red;
}
.sidebar{
    background: #f00;
    
}
.dashboard{
    background: rgb(15, 123, 212);
}
.ava{
    width: 100px;
}
footer{
    background: rgb(204, 201, 12);
}